################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Portafolio_Backend/obj/Portafolio_Backend.csproj.nuget.dgspec.json
/Portafolio_Backend/obj/Portafolio_Backend.csproj.nuget.g.props
/Portafolio_Backend/obj/Portafolio_Backend.csproj.nuget.g.targets
/Portafolio_Backend/obj/project.assets.json
/Portafolio_Backend/obj/project.nuget.cache
/Portafolio_Backend/.vs/ProjectEvaluation/portafolio_backend.metadata.v9.bin
/Portafolio_Backend/.vs/ProjectEvaluation/portafolio_backend.projects.v9.bin
/Portafolio_Backend/.vs/ProjectEvaluation/portafolio_backend.strings.v9.bin
/Portafolio_Backend/.vs/Portafolio_Backend/v17/.futdcache.v2
/Portafolio_Backend/.vs/Portafolio_Backend/v17/.suo
/Portafolio_Backend/.vs/Portafolio_Backend/v17/DocumentLayout.backup.json
/Portafolio_Backend/.vs/Portafolio_Backend/v17/DocumentLayout.json
/Portafolio_Backend/.vs/Portafolio_Backend/FileContentIndex/0c311ea0-f433-4369-b631-aec5fdfbe29d.vsidx
/Portafolio_Backend/.vs/Portafolio_Backend/FileContentIndex/1962f341-d1b1-42cb-839d-80a4db23ad30.vsidx
/Portafolio_Backend/.vs/Portafolio_Backend/FileContentIndex/3e35049f-cad3-4c29-94ad-5cb169850f51.vsidx
/Portafolio_Backend/.vs/Portafolio_Backend/FileContentIndex/a531515d-94e7-414b-b13e-1e511b80893f.vsidx
/Portafolio_Backend/.vs/Portafolio_Backend/FileContentIndex/ccd86e36-606b-4521-9cce-a19601976b60.vsidx
/Portafolio.Transversal.Mapper/obj/Portafolio.Transversal.Mapper.csproj.nuget.dgspec.json
/Portafolio.Transversal.Mapper/obj/Portafolio.Transversal.Mapper.csproj.nuget.g.props
/Portafolio.Transversal.Mapper/obj/Portafolio.Transversal.Mapper.csproj.nuget.g.targets
/Portafolio.Transversal.Mapper/obj/project.assets.json
/Portafolio.Transversal.Mapper/obj/project.nuget.cache
